.img-dashboard{
    width: 100%; 
    height: 500px;
} 
.dashboard-list {
    width: 100%; 
    max-width: 100%;
    height: 500px !important;
    max-height: 500px !important;
}
.eye-preview {
    font-size: 20px;
    float: right;
    padding-right: 15%;
    color: #058192;
  }
