<form #stepForm="ngForm" name="form" class="d-contents">
    <div class="container-fluid flex-no-shrink fit-w">
      <div class="row separator-bottom">
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3  p-t-24 p-l-16 p-r-16">
          <h3 translate class="text-medium l-h-base">{{templateDetails?.title}}</h3>
          <p class="lead text-normal" translate>
            {{templateDetails?.tagLine}}
            </p>
        </div>
      </div>
    </div>
    <div class="inner-scroll flex-grow">
      <div class="container-fluid fit-w">
        <div class="card-group interact-grid" style="text-align:center;padding-top: 10px;">
          <div class="col-xs-12 col-sm-6 col-md-6 ">
            <div class="card">
              <div class="card-block">
                <img [src]="templateDetails?.image && templateDetails?.image != '' ? templateDetails?.image : ''" alt="#" class="img-responsive" style=""/>
              </div>
              <div class="card-block">
                <video width="100%" height="100%" controls controls="controls">
                  <source type="video/mp4" [src]="templateDetails?.video && templateDetails?.video != '' ? templateDetails?.video : ''" />
                 </video>
              </div>
          </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 ">
            <div class="card">
              
              <div class="card-block">
                {{templateDetails?.description}}
          </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <c8y-template-setup-stepper-buttons
      [index]="stepper.selectedIndex"
      (onNext)="next()"
      (onBack)="back()"
    >
    </c8y-template-setup-stepper-buttons>
  </form>
  