
.modal-body {
    margin-top: 10px !important;
}

.modal-header {
    color: var(--c8y-btn-primary-color-default) !important;
}

.modal-form-fields{
    display: flex; 
    justify-content: center; 
    padding: 5% 5% 0% 5%;
}