<form #stepForm="ngForm" name="form" class="d-contents">
  <div class="container-fluid flex-no-shrink fit-w">
    <div class="row separator-bottom">
      <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 p-t-24 p-l-16 p-r-16">
        <h3 translate class="text-medium l-h-base">Configuration</h3>
        <p class="lead text-normal" translate>
          Let's Configure Your Application to Meet Your Specific Needs!
        </p>
      </div>
    </div>
  </div>
  <div class="inner-scroll flex-grow">
    <div class="container-fluid fit-w">
      <div class="card-group interact-grid" style="text-align:center;padding-top: 10px;">
        <div class="col-xs-12 col-sm-8 col-md-8">
           <div class="card">
          <div class="card-header">
              <div class="col-xs-12 col-sm-6 col-md-6" style="text-align: left;">
                  <h4 class="card-title"> Dashboards</h4>
              </div>
          </div>
          <div class="card-block">
              <div class="list-group">
                  <div class="list-group-item d-flex" *ngFor="let dashboard of configStepData?.dashboards">
                    <div class="list-item-checkbox">
                      <label title="Select" class="c8y-checkbox">
                        <input type="checkbox" checked>
                        <span></span>
                      </label>
                    </div>
                
                    <div class="list-item-icon">
                      <i title="Dashboard" c8yIcon="dashboard"></i>
                    </div>
                
                    <div class="list-item-body text-left">
                      <div class="d-flex row">
                        <span class="col-sm-4 col-xs-12">{{dashboard.name}}</span>
                        <div class="col-sm-6 col-xs-12 text-muted">
                          <span translate>{{dashboard.description}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          <!-- <div class="card-header">
              <div class="col-xs-12 col-sm-6 col-md-6" style="text-align: left;">
                  <h4 class="card-title">Custom Dashboards</h4>
              </div>
          
              <div class="col-xs-12 col-sm-6 col-md-6" style="text-align: right;">
                  <button type="button pull-right" class="btn btn-default">Dashboard Catalog</button>
              </div>
          </div> -->
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> Select Widgets</h4>
            </div>
            <div class="card-block">
              <ul class="list-group" style="text-align: left;">
                <li class="list-group-item d-flex" *ngFor="let plugin of configStepData?.plugins">
                  <div class="list-item-checkbox">
                    <label class="c8y-checkbox" >
                      <input type="checkbox" checked />
                      <span></span>
                    </label>
                  </div>
                  <label>
                    {{plugin.title}}
                    <br /><small class="text-muted">{{plugin.description}}</small>
                  </label>
                </li>
              </ul>
            </div>
          
            <div class="card-header">
              <h4 class="card-title"> Select Micro services</h4>
            </div>
            <div class="card-block">
              <ul class="list-group" style="text-align: left;">
                <li class="list-group-item d-flex" *ngFor="let microservice of configStepData?.microservices">
                  <div class="list-item-checkbox">
                    <label class="c8y-checkbox">
                      <input type="checkbox" checked id="groupcheckbox3" />
                      <span></span>
                    </label>
                  </div>
                  <label for="groupcheckbox3">
                    {{microservice.title}}
                    <br /><small class="text-muted" >{{microservice.description}}</small>
                  </label>
                </li>
              </ul>
            </div>
          </div>
       </div>
      </div>
     
    </div>
  </div>
  <c8y-template-setup-stepper-buttons
    [index]="stepper.selectedIndex"
    (onNext)="addCheckedDashboards()"
    (onBack)="back()"
  >
  </c8y-template-setup-stepper-buttons>
</form>