<form #stepForm="ngForm" name="form" class="d-contents">
  <div class="container-fluid flex-no-shrink fit-w">
    <div class="row separator-bottom">
      <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 p-t-24 p-l-16 p-r-16">
        <div class="h3-style l-h-base text-medium">{{configStepData?.title}}</div>
        <p class="lead text-normal" translate>
          {{configStepData?.tagLine}}
        </p>
      </div>
    </div>
  </div>
  <div class="inner-scroll flex-grow">
    <div class="container-fluid fit-w">
      <div class="row">
        <div class="col-md-10 col-lg-9 col-lg-offset-1">
      <div class="card-group interact-grid" style="text-align:center;padding-top: 10px;">
        <div class="col-xs-12 col-sm-12 col-md-12">
           <div class="card">
          <div class="card-header">
              <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: left;">
                  <h4 class="card-title">Ensuring a Seamless Setup: Unveiling the Components Ready to Empower Your Experience!</h4>
              </div>
          </div>
          <div class="card-block" id="dashboardDiv">
              <div class="list-group">
                  <div class="list-group-item d-flex" *ngFor="let dashboard of configStepData?.dashboards; let i = index">
                    <div class="list-item-checkbox">
                      <label id="dashboard{{i}}" title="Select" class="c8y-checkbox">
                        <input type="checkbox" [checked]="isChecked">
                        <span></span>
                      </label>
                    </div>
                
                    <div class="list-item-icon">
                      <i title="Dashboard" c8yIcon="dashboard"></i>
                    </div>
                
                    <div class="list-item-body text-left">
                      <div class="d-flex row">
                        <span class="col-sm-4 col-xs-12">{{dashboard.name}}</span>
                        <div class="col-sm-8 col-xs-12 text-muted">
                          <span translate>{{dashboard.description}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item d-flex" *ngFor="let plugin of configStepData?.plugins; let p =index">
                    <div class="list-item-checkbox">
                      <label id="plugin{{p}}" title="select" class="c8y-checkbox" >
                        <input type="checkbox" [checked]="isChecked" />
                        <span></span>
                      </label>
                    </div>
                    <div class="list-item-icon">
                      <i title="Plugin" c8yIcon="big-parcel"></i>
                    </div>
                    <div class="list-item-body text-left">
                      <div class="d-flex row">
                        <span class="col-sm-4 col-xs-12">{{plugin.title}}</span>
                        <div class="col-sm-8 col-xs-12 text-muted">
                          <span translate>{{plugin.description}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item d-flex" *ngFor="let microservice of configStepData?.microservices; let m =index">
                    <div class="list-item-checkbox">
                      <label id="microservice{{m}}" title="select" class="c8y-checkbox" >
                        <input type="checkbox" [checked]="isChecked" />
                        <span></span>
                      </label>
                    </div>
                    <div class="list-item-icon">
                      <i title="Microservice" c8yIcon="microchip"></i>
                    </div>
                    <div class="list-item-body text-left">
                      <div class="d-flex row">
                        <span class="col-sm-4 col-xs-12">{{microservice.title}}</span>
                        <div class="col-sm-8 col-xs-12 text-muted">
                          <span translate>{{microservice.description}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>
  <c8y-template-setup-stepper-buttons
    [index]="stepper.selectedIndex"
    [isDashboardChecked]="isDashboardChecked"
    (onNext)="addCheckedDashboards()"
    (onBack)="back()"
  >
  </c8y-template-setup-stepper-buttons>
</form>