<form #stepForm="ngForm" name="form" class="d-contents">
    <div class="container-fluid flex-no-shrink fit-w">
      <div class="row separator-bottom">
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 p-t-24 p-l-16 p-r-16">
          <h3 translate class="text-medium l-h-base">Connect</h3>
          <p class="lead text-normal" translate>
            Connect your dashboard with devices/assets/simulators
          </p>
        </div>
      </div>
    </div>
    <div class="inner-scroll flex-grow">
      <div class="container-fluid fit-w p-t-16">
        <div class="col-md-10 col-lg-9 col-lg-offset-1">
        <div class="card-group interact-grid" style="text-align:center;padding-top: 10px;">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="card">
              <ul class="list-group" style="text-align: left;">
                <li class="list-group-item"  *ngFor="let dashboard of templateDetails?.dashboards;let i = index">
                  <div class="list-item-body">
                  <div class="d-flex row">
                    <div class="list-item-icon">
                        <i title="Dashboard" c8yIcon="dashboard"></i>
                      </div>
                    <span class="col-sm-4 col-xs-12">{{dashboard.name}}</span>
                    <!-- <span class="col-sm-4 col-xs-12">
                      <label class="c8y-switch">
                        <input type="checkbox" checked="" />
                        <span></span> Use Simulator
                      </label>
                    </span> -->
                    <div class="col-sm-4 col-xs-12 text-muted">
                        <form class="form-inline">
                            <div class="form-group" style="width: 53%; padding:0px">
                                <label class="sr-only" for="selected-device">Select Device/asset for dashboard</label>
                                <input [readonly]="true" name="selected-device" class="form-control"
                                    style="width: 100%;" id="selected-device" placeholder="Select Device/Asset" type="text"
                                    [ngModel]="dashboard?.devicesName">
                            </div>
                            <button type="button" style="width: 47%;" class="btn btn-primary"
                                (click)="openDeviceSelectorDialog(dashboard)">Select Device/Asset</button>
                        </form>
                      <!-- <div class="c8y-select-wrapper">
                        <select id="selectExample" class="form-control">
                          <option>Select Device/Assets</option>
                        </select>
                      </div> -->
                    </div>
                  </div>
                </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <c8y-template-setup-stepper-buttons
    [index]="stepper.selectedIndex"
    (onNext)="configureApp()"
    (onBack)="back()"
  >
  </c8y-template-setup-stepper-buttons>
  </form>
  